/*****************
General
*****************/

body {
  background-color: #f5f5f5;
}

.container {
  min-width: 300px;
}

section {
  background-color: #fff;
  padding: 0px 20px 20px 20px;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.75em;
  padding: 10px;
  margin-left: -20px;
  margin-right: -20px;
  color: #fff;
}

.grad {
  background-color: #78a7c8;
  background-image: -webkit-linear-gradient(right, #78a7c8, #34678a 40%);
  background-image:    -moz-linear-gradient(right, #78a7c8, #34678a 40%);
  background-image:      -o-linear-gradient(right, #78a7c8, #34678a 40%);
  background-image:         linear-gradient(to right, #78a7c8, #34678a 40%);
}
/*****************
Navigation
*****************/

.navbar {
  min-width: 300px;
}
/*****************
Promo
*****************/

.promo {
  background-color: #586477;
  font-size: 1.2em;
  color: #fff;
}

.promo-text {
  margin-top: 35px;
}

.main-photo {
  max-height: 300px;
  margin: 20px 10px;
  border-radius: 20px;
}

.skill {
  border: 1px solid #999;
  padding: 3px;
  background-color: #78a7c8;
}

/*****************
Portfolio
*****************/
.portfolio-item {
  background: #eee;
  padding: 10px 10px 5px 10px;
  margin-bottom: 10px;
}

.site-description {
  padding: 10px;
}

.question {
  text-align: center;
  font-size: 1.25em;
  color: #cc5568;
}

/*****************
Contacts
*****************/

.contact-option {
  text-align: center;
}

.contact-content {
  margin-bottom: 20px;
}

/*****************
Footer
*****************/

footer {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 50px;
  color: #fff;
  text-align: center;
  background-color: #34678a;
}

footer a {
  color: #f00;
}
