/*****************
General
*****************/

body {
  background-color: #f5f5f5;
  position: relative;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.container {
  min-width: 300px;
}

section {
  background-color: #fff;
  padding: 0px 20px 20px 20px;
  margin-bottom: 20px;
}

h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 1.5em;
  padding: 10px;
  margin-left: -20px;
  margin-right: -20px;
  color: #fff;
}

.grad {
  background-color: #78a7c8;
  background-image: -webkit-linear-gradient(right, #78a7c8, #34678a 40%);
  background-image:    -moz-linear-gradient(right, #78a7c8, #34678a 40%);
  background-image:      -o-linear-gradient(right, #78a7c8, #34678a 40%);
  background-image:         linear-gradient(to right, #78a7c8, #34678a 40%);
}

/*****************
Navigation
*****************/

.navbar {
  font-family: 'Oswald', sans-serif;
  min-width: 300px;
  background: #78a7c8;
  font-weight: bold;
  font-size: 1.2em;
}

.navbar-default .navbar-brand {
    color: #fff;
    font-size: 24px;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
  color: #000;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: #000;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #34678a;
}

.navbar-default .navbar-toggle {
    border-color: #fff;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #34678a;
}

/*****************
Promo
*****************/

.promo {
  background-color: #586477;
  font-size: 1.2em;
  color: #fff;
  margin-top: 50px;
}

.promo-text {
  margin-top: 35px;
}

.main-photo {
  max-height: 300px;
  margin: 20px auto;
  border-radius: 20px;
}

.skill {
  display: inline-block;
  border: 1px solid #999;
  padding: 3px;
  background-color: #78a7c8;
  white-space: nowrap;
  margin-bottom: 5px;
}

.devicons {
  font-size: 46px;
  display: inline-block;
  padding: 2px;
  background: #78a7c8;
  margin-bottom: 5px;
  border-radius: 5px;
}

/*****************
Portfolio
*****************/
.portfolio-item {
  background: #d8e0e5;
  padding: 10px 10px 5px 10px;
  margin-bottom: 10px;
}

.site-description {
  padding: 10px;
}

.question {
  text-align: center;
  font-size: 1.25em;
  color: #cc5568;
}

/*****************
Contacts
*****************/

.contact-option {
  text-align: center;
  background: #78a7c8;
  padding: 10px;
  border-radius: 5px;
  color: white;
  margin-bottom: 10px;
}

.contact-content {
  margin-bottom: 20px;
}

.contact-icon, .icons a {
  color: white;
}

.icons i:hover, .icons a:hover {
  color: #cc5568;
}

.btn {
  background-color: #cc5568;
  color: #fff;
}

.btn:hover {
  background-color: #9c5568;
  color: #fff;
}

/*****************
Footer
*****************/

footer {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 50px;
  color: #fff;
  text-align: center;
  background-color: #34678a;
}

footer a {
  color: #cc5568;
  font-weight: bold;
}

footer a:hover {
  color: #ee3333;
}

/*****************
Media Queries
*****************/

@media (max-width: 768px) {
  .promo {
    text-align: center;
  }
}
