/*****************
General
*****************/

body {
  background-color: #f5f5f5;
}

.container {
  min-width: 300px;
}

section {
  background-color: #fff;
  padding: 0px 20px 20px 20px;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.75em;
  padding: 10px;
  margin-left: -20px;
  margin-right: -20px;
  color: #fff;
}

.grad {
  /*background-color: #78a7c8;*/
  background-image: -webkit-linear-gradient(right, #00ffff, rgba(0,255,255,0.5));
  background-image:    -moz-linear-gradient(right, #00ffff, rgba(0,255,255,0.5));
  background-image:      -o-linear-gradient(right, #00ffff, rgba(0,255,255,0.5));
  background-image:         linear-gradient(to right, #78a7c8, #34678a 40%);
}
/*****************
Navigation
*****************/

.navbar {
  min-width: 300px;
}

/*****************
Portfolio
*****************/
.portfolio-item {
  background: #eee;
  padding: 10px 10px 5px 10px;
  margin-bottom: 10px;
}

.site-description {
  padding: 10px;
}

.question {
  text-align: center;
  font-size: 1.25em;
  color: #cc5568;
}

/*****************
Contacts
*****************/

.contact-option {
  text-align: center;
}

.contact-content {
  margin-bottom: 20px;
}

/*****************
Footer
*****************/

footer {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 50px;
  color: #99979c;
  text-align: center;
  background-color: #f8f8f8;
}
